.env
.git
.gitignore
__pycache__
*.pyc
*.pyo
.github
terraform-aws
DOCKER_README.md


Add-Content .dockerignore "venv"
Add-Content .dockerignore "venv/*"
Add-Content .dockerignore "*.egg-info"
Add-Content .dockerignore ".venv"